* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

.container {
    margin: 0 -15px;
    padding: 0 15px;
    width: 100%;
    height: fit-content;
    max-width: 1280px;
}